
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color: #001220;
    background-image:url(films/images/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom; 
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
img {
    border: 2px solid yellow;
}
p {
    background-color:#001220;
    color: white;
    /* margin: 0 auto; */
    padding: 10px;
    /* width: 95%; */
    /* text-align: justify; */
}
iframe{
    background-color:transparent;
    color: yellow;
    /* margin: 0 auto; */
    /* padding: 20px 10px; */
    /* width: 95%;
    height: fit-content; */
    
}
.nav_es_egyebek{
    width: 100%;
    margin: 0 auto;
    height: 150px;
}
th {
	font-weight: bolder;
	color: cyan;
}
table {
    /* width: 90%; */
    background-color:transparent;
    color: yellow;
    /* margin: 0 auto; */
    padding: 0px 10px;
    
    table-layout: fixed;
    vertical-align: top;
    
}
tr {
	vertical-align: top;
	
}
.szereplok{
    margin-bottom: 10px;
}
.main{
    display: flex;
    flex-direction: row;
}
.tartalom{
    
}
ol,ul {
    padding: 20px 50px;
    
    background-color:transparent;
    color: white;
    /* margin: 0 auto; */
    /* width: 90%; */

}
li{
    padding: 5px;
}
ul{
    list-style: none; /* Remove default bullets */
}
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
#banner {
    width: 24rem;

}

#cim {
    background-color:transparent;
    color: deepskyblue;
    padding: 10px;
    /* margin: 0 auto; */
    width: 95%;
    text-align: center;
}

h2 {
    background-color:transparent;
    color: green;
    padding: 10px;
    /* margin: 0 auto; */
    width: 95%;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    text-decoration: underline;
}

.button {
    color: yellow;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 0 30px 0 0;
    background-color:transparent;
    display: inline-block;
    position: relative;
    transition: 0.2s;
    text-decoration: underline black;
    border: 1px solid red ;
    border-radius: 7.6px;
    
}

.button:hover {
    transition: 0.3s;
    text-decoration: underline solid yellow;
}

#navbar {
    background-color:transparent; 
    padding: 10px 10px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: 98%;
    font-size: 2rem;
}


#logo {
    width: 5rem;
	margin-right: 5px;
    vertical-align:middle;
    text-align: center;
    /* margin: 0 auto; */
    border: hidden;
}
#logo:hover{
	transform: rotate(-360deg);
	transition-duration: 0.2s;
}

.left {
    float: left;
    width: 50%;
    border: 2px solid yellow;
    margin: 20px;
}

.right {
    float: right;
    width: 50%;
    border: 2px solid yellow;
    margin: 20px;
}
 footer{
    width: 99%;
    clear: both;
    bottom: 1px;
    text-align: right;
}

header{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}